server:
      port: 8085
spring:
      application:
            name: user
      profiles:
            active: "prod"
      datasource:
            url: jdbc:postgresql://localhost:5432/springmicro
            username: bloguser
            password: bloguser
      jpa:
            hibernate:
                  ddl-auto: update
#            show-sql: true

logging:
      level:
            org:
                  springframework:
                        security: DEBUG
