/volume
1docker-compose.yml
x.pdf
.idea
/deployment/playground/.env.ec2
/deployment/playground/.env.local
/deployment/ObservabilityAndMonitoring/Observers/.env.local
/deployment/ObservabilityAndMonitoring/Observers/.data
deployment/playground/UseReadME.md