services:
      kafka:
            image: confluentinc/cp-kafka:7.5.0
            container_name: kafka
            ports:
                  - "9092:9092"
            environment:
                  # Local Single Node, 1 Replica Setup
                  KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
                  KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
                  KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
                  # Basic Required Config
                  KAFKA_NODE_ID: 1
                  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
                  KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
                  KAFKA_PROCESS_ROLES: 'broker,controller'
                  KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
                  KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
                  KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
                  KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
                  CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

      kafbat-ui:
            image: ghcr.io/kafbat/kafka-ui:latest
            container_name: kafbat-ui
            ports:
                  - "8080:8080"
            depends_on:
                  - kafka
            environment:
                  KAFKA_CLUSTERS_0_NAME: local-ecommerce-cluster
                  KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
                  DYNAMIC_CONFIG_ENABLED: 'true'