services:
      kafka:
            image: confluentinc/cp-kafka:7.5.0
            container_name: kafka
            ports:
                  - "9092:9092"
            environment:
                  KAFKA_NODE_ID: 1
                  KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT'
                  KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092'
                  KAFKA_PROCESS_ROLES: 'broker,controller'
                  KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:29093'
                  KAFKA_LISTENERS: 'PLAINTEXT://kafka:29092,CONTROLLER://kafka:29093,PLAINTEXT_HOST://0.0.0.0:9092'
                  KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
                  KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
                  CLUSTER_ID: 'MkU3OEVBNTcwNTJENDM2Qk'

      schema-registry:
            image: confluentinc/cp-schema-registry:7.5.0
            depends_on:
                  - kafka
            ports:
                  - "8081:8081"
            environment:
                  SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:29092'
                  SCHEMA_REGISTRY_HOST_NAME: schema-registry

      kafbat-ui:
            image: ghcr.io/kafbat/kafka-ui:latest
            container_name: kafbat-ui
            ports:
                  - "8080:8080"
            depends_on:
                  - kafka
                  - schema-registry
            environment:
                  # Define the Kafka cluster
                  KAFKA_CLUSTERS_0_NAME: local-ecommerce-cluster
                  KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
                  # Connect the Schema Registry
                  KAFKA_CLUSTERS_0_SCHEMAREGISTRY: http://schema-registry:8081
                  # Enable management features
                  DYNAMIC_CONFIG_ENABLED: 'true'