<div th:fragment="email-body" xmlns:th="http://www.thymeleaf.org">
    <p style="margin-bottom:0;font-family:inherit;font-size:18px;font-weight:400;letter-spacing:-0.01em;color:#172b4d;line-height:28px;margin-top:40px; text-transform: capitalize;"
        th:utext="${greetingByName}">
        Hi Krishna, your order is confirmed!
    </p>

    <p style="margin-top:12px; color:#091e42;" th:text="${msgLine1}">
        Thank you for shopping with us. Your order details are below.
    </p>

    <!--    Order Items-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-top:20px; border: 1px solid #c1c7d0;">
        <tbody th:if="${items != null}">
        <tr style="background-color: #f4f5f7;">
            <td colspan=2  style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Product</td>
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Quantity</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;font-weight:bold;">Unit Price</td>
        </tr>
        <tr th:each="item : ${items}">
            <td style="border-bottom:solid 1px #f1f1f1;padding-bottom:20px">
                <img th:src="${item.img}" width="80" border="0" alt="ProductImage">
            </td>
            <td width="250"  style="padding:10px; border-bottom:1px solid #ebecf0;">
                <a th:href="@{${item.link}} " th:text="${item.name}">Product Name</a>
            </td>
            <td style="padding:10px; border-bottom:1px solid #ebecf0;" th:text="${item.quantity}">2</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #ebecf0;">
                <span th:utext="${currencySymbol}"></span> <span  th:text="${item.price}"></span></td>
        </tr>
        </tbody>
    </table>
    <!--    Order Total, Shipping-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-top:20px; border: 1px solid #c1c7d0;">
        <tbody th:if="${totaling != null}">
        <tr>
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Sub Total</td>
            <td  style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;font-weight:bold;">
                <span th:utext="${currencySymbol}"></span> <span   th:text="${totaling.subtotal}"></span></td>
        </tr>
        <tr>
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Shipping Fee</td>
            <td  style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;font-weight:bold;">
                <span th:utext="${currencySymbol}"></span> <span   th:text="${totaling.shippingFee}"></span>
            </td>
        </tr>
        <tr>
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;" >Total Amount</td>
            <td  style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0; font-weight:bold;" >
                <span th:utext="${currencySymbol}"></span> <span th:text="${totaling.totalPrice}"></span></td>
        </tr>
        </tbody>
    </table>
    <!--    Delivery Details-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-top:20px; border: 1px solid #c1c7d0;">
        <tbody th:if="${details != null}">
        <tr>
            <td  colspan="2" style="background-color: #f4f5f7; padding:10px; text-align:center; border-bottom:1px solid #c1c7d0; font-weight:bold;">Delivery Address</td>
        </tr>
        <tr style="padding:10px;">
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">For User:</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.userData.name}">User Name</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Contact No: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.userData.contact}">91 569745664</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Email Id: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.userData.email}">User@mail.com</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Shipping address:</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.address.shipping_address}">shipping_address</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">City:</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.address.city}">Delhi</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">State:</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.address.state}">Delhi</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Pincode: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.address.zip_code}">110057</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Country:</td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${details.address.country}">Delhi</td>
        </tr>
        </tbody>
    </table>

    <!--    Payment Details-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin-top:20px; border: 1px solid #c1c7d0;">
        <tbody th:if="${payment != null}">
        <tr>
            <td  colspan="2" style="background-color: #f4f5f7; padding:10px; text-align:center; border-bottom:1px solid #c1c7d0; font-weight:bold;">Payment Details</td>
        </tr>
        <tr style="padding:10px;">
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Payment ID: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${payment.payment_id}">352</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Order ID: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${payment.order_id}">602</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Transaction Id: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${payment.transaction_id}">pay_gDEBvGtGSMESIB</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Payment Status: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;" th:text="${payment.payment_status}">SUCCESS</td>
        </tr>
        <tr style="padding:10px; " >
            <td style="padding:10px; text-align:left; border-bottom:1px solid #c1c7d0;font-weight:bold;">Amount: </td>
            <td style="padding:10px; text-align:right; border-bottom:1px solid #c1c7d0;">
                <span th:utext="${currencySymbol}"></span>  <span  th:text="${payment.amount}"></span></td>
        </tr>
        </tbody>
    </table>

    <div style="margin-top: 30px; text-align: center;">
        <!--        <a th:href="@{${baseAppUrl}/orders/{id}(id=${orderId})}"-->
        <a th:href="@{${trackingUrl}}"
           style="background-color: #0052cc; color: #ffffff; padding: 12px 24px; text-decoration: none; border-radius: 3px; font-weight: 500; display: inline-block;">
            Track My Order
        </a>
    </div>
</div>
