server:
      port: 8080
spring:
      sql:
            init:
                  mode: always
      application:
            name: product-service
      profiles:
            active: "prod"
      datasource:
            url: jdbc:postgresql://localhost:5432/springmicro
            username: bloguser
            password: bloguser
      jpa:
            defer-datasource-initialization: true
            hibernate:
                  ddl-auto: create
            show-sql: true

#      flyway:
#            enabled: true
#            clean-disabled: false
#            clean-on-validation-error: true
#            baseline-on-migrate: true
      logging:
            level:
            org.springframework.orm.jpa: DEBUG
            org.hibernate.resource.transaction: DEBUG
            org.hibernate.SQL: DEBUG
            org.hibernate.orm.jdbc.bind: TRACE

management:
      endpoints:
            web:
                  exposure:
                        include: health
      health:
            jdbc:
                  enabled: true
