server:
      port: 8096
spring:
      application:
            name: notification-service
      profiles:
            active: "prod"
      datasource:
            url: jdbc:postgresql://localhost:5432/springmicro?currentSchema=notification_schema
            username: bloguser
            password: bloguser
            driver-class-name: org.postgresql.Driver
            hikari:
                  pool-name: notificationServiceHikariPool
                  maximum-pool-size: 10
                  minimum-idle: 5
                  idle-timeout: 300000 # 5 minutes
                  connection-timeout: 20000 # 20 seconds
                  max-lifetime: 1200000 # 20 minutes
                  auto-commit: true
            flyway:
                  enabled: true
                  schemas: notification_schema
                  baseline-on-migrate: true # Crucial for existing databases
                  out-of-order: false        # Strict linear progression in prod
                  lock-retry-count: 50 # Retries before failing
                  locations:
                        - classpath:db/migration
#                  table: notification_schema_history
      jpa:
#            show-sql: true
            hibernate:
                  ddl-auto: validate
            properties:
                  hibernate:
                        default_schema: notification_schema
                        #This helps format the SQL logs to be readable
#                        format_sql: true
      mail:
            host: ${SMTP_SERVER:""}
            port: ${SMTP_PORT:587}
            username: ${SMTP_LOGIN:""}
            password: ${SMTP_KEY:""}
            properties:
                  mail.smtp.auth: true
                  mail.smtp.starttls.enable: true
      kafka:
            bootstrap-servers: localhost:9092
#            producer:
#                  key-serializer: org.apache.kafka.common.serialization.StringSerializer
#                  value-serializer: org.apache.kafka.common.serialization.StringSerializer
##                  acks: all
#                  properties:
#                        enable.idempotence: true
#                  consumer:
#                        group-id: notification-group
#                        auto-offset-reset: earliest
#                        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
#                        value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            properties:
                  enable.idempotence: true
                  compression.type: snappy
#            # Retry & DLT Logic (Requires Spring Kafka 2.7+)
            retry:
                  topic:
                        enabled: true
                        attempts: 3
                        delay: 5000 # 5 seconds between retries
springwolf:
      docket:
            base-package: com.kmicro.notification
            servers:
                  kafka-server:
                        url: ${KAFKA_BOOTSTRAP_SERVERS}
                        protocol: KAFKA
                        host: localhost:9092
            info:
                  title: Notification Service Kafka Doc
                  version: 1.0.0
                  description: AsyncAPI documentation for the Notification Microservice
#logging:
#      level:
#            org:
#                  springframework:
#                   kafka: DEBUG
#                  hibernate:
#                        orm:
#                              jdbc:
#                                    bind: TRACE
#management:
#      endpoints:
#            web:
#                  exposure:
#                        include: health,info,metrics,prometheus
#      endpoint:
#            health:
#                  show-details: always
#      health:
#            jdbc:
#                  enabled: true
